  mat-form-field,mat-form-field {
    width: 100%;
  }
  input:read-only{
    background: #ddd;
    padding: 10px 0px;
  }
  .id-name {
    width: 35%;
    margin-right: 5px;
  }
  .id-number {
    width: 55%;
    margin-left: 5px;
  }
  .phone-name {
    width: 45px;
    margin-right: 5px;
  }
  .country-code {
    width: 25%;
    margin-left: 1px;
  }
  .phone-number {
    width: 65%;
    margin-left: 5px;
  }
  .btn-sec {
    margin-right: 5rem !important;
    text-align: right;
    margin-top: 1.5em;
  }
  .Update-btn {
    margin: 5px;
  }
  .Discard-btn {
    margin: 5px;
  }
  .text-inside {
    position: absolute;
    left: 5px;
    width: 100%;
  }
  @media (max-width: 800px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  @media (max-width: 600px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }